<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link href="{{ url_for('static', filename='css/basics.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
</head>
<body>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <img class="always-center" src="{{ url_for('static', filename='png/logo.png') }}">
    <form method="post" class="buttons-container-vertical">
      <input name="username" id="username" placeholder="Username" class="button text-f grey" required>
      <input type="password" name="password" id="password" placeholder="Password" class="button text-f grey" required>
      <input type="submit" value="Register" class="button button-f orange">
    </form>
</body>
</html>