.always-center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%; 
    max-height: 70vh; 
}

.buttons-container-horizontal{
    position: fixed;
    bottom: 3%;
    right: 3vw;
    left: 3vw;
    width: auto; 
    height: auto;
    display: flex;
    justify-content: space-between;
}

.buttons-container-vertical{
    position: fixed;
    bottom: 10.5%;
    right: 15vw;
    left: 15vw;
    width: auto; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2vh;
}

.button{
    width: 45vw;
    height: 6vh;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 0;
    text-decoration: none;
    text-align: center;
}

#link{
    position: fixed;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    text-decoration: none; 
    cursor: auto;
    white-space: nowrap;
}

.blue-text{
    color: var(--accent)
}

.orange-text{
    color: var(--blokkering)
}

.blue{
    background-color: var(--accent);
}

.orange{
    background-color: var(--blokkering);
}

.grey{
    background-color: #D9D9D9;
}
