#info{
    border-radius: 25px 25px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: var(--main);
    text-align: center;
    z-index: 1; /* Set a higher z-index to be infront of the map */

    display: flex;
    flex-direction: column;
    justify-content: stretch;

    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.2);

    transform: translateY(100%); /* Initial position outside the viewport */
    transition: transform 0.2s ease;
}

#info.move-up {
    transform: translateY(0); /* Move up to translateY(0) to appear on the screen */
}

/* Top section of info tab */
#header-container{
    display: flex;
    padding: 2vh 3vw;
    justify-content: space-between;
}

#header-container-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    text-align: left;
}

#header-container-left h1{
    margin: 0;
}

#header-container-left p{
    margin: 0;
}

#close-info-button{
    height: 3vh;
    top: 10px;
    right: 10px;
}

.small-icon{
    width: 30px;
    height: auto;
}

.light-divider{
    border-top: 1px solid var(--accent_light);
    margin: 0;
}

/* Middle section of info tab */
#marked-true-false-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 2vh 3vw;
    gap: 2vh;
}

.marked-true-false-container-inside{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

/* Bottom section of info tab */

#mark-true-false-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: scale;
    padding: 2vh 3vw;
}

#mark-true-false-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

/* use if screen = phone screen */
@media (max-width: 450px) {
    #mark-true-false-container{
        justify-content: center;
    }
    
    #mark-true-false-buttons-container{
        width: 100vw;
    }
}

/* helper */
.large-icon{
    width: auto;
    height: 40px;
}
