/* Shared styles for both phone and desktop */
#new-point-confirmation-menu{
    border-radius: 25px 25px 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 94vw; /* 94 to compensate for the 3vw padding * 2 */
    background-color: var(--main);
    text-align: center;
    z-index: 1; /* Set a higher z-index to be infront of the map */
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.2);
    padding: 2vh 3vw;
    
    transform: translateY(100%);
    transition: transform 0.2s ease; 
}

#new-point-confirmation-menu.move-up{
    transform: translateY(0); 
}

#add-point-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 2vh;
    gap: 3vw
}

/* use if screen = phone screen */
@media (max-width: 500px) {
    #new-point-confirmation-menu{
        align-items: center;
        padding-top: 2vh;
    }

    #add-point-buttons-container {
        width: 80vw;
        gap: 0;
    }
}