#map{
    height: 100%;
    width: 100vw;
    z-index: 0; /* Set a lower z-index for the map */
}

#report-content-container{
    position: fixed;
    top: 89vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Set a higher z-index to be infront of the map */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
}

#report-text{
    text-align: center;
    border-radius: 25px;
    background-color: rgb(254, 254, 254, 0.9);
    color: var(--accent);
    font-size: 12pt;
    padding: 1.5vw 5vw 1.5vw 5vw;
    width: 60vw;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.2);
}
