{% extends 'base.html' %}

{% block additional_styles %}
<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<img class="always-center" src="{{ url_for('static', filename='png/logo.png') }}">
<form method="post" class="buttons-container-vertical">
  <input name="username" id="username" placeholder="Username / Email" autocomplete="username" class="button text-f grey" required >
  <input type="password" name="password" id="password" placeholder="Password" autocomplete="current-password" class="button text-f grey" required>
  <input type="submit" value="Log in" class="button button-f blue">
</form>
<a id="link" class="text-f blue-text" href="{{ url_for('auth.register') }}">Maak een nieuw account</a>
{% endblock %}